body {
    font-family: Arial, sans-serif;
}

.window {
    margin: 13% auto;
    border: solid 4px #006B53;
    width: 600px;
    height: 650px;
    background-color: #5ED2B8;
    border-radius: 30px;
}

.window h2{
    text-align: center;
}

.object {
    display: block;
    margin-top: calc(50% - 200px);
    margin-left: calc(50% - 295px);
    text-align: center;
}

.btn {
    margin-top: 20px;
    background-color: black;
}

.object p{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.object input{
    border-radius: 20px;
}

