body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    widows: 100%;
    height: 60px;
    background: #1b304f;
    position: fixed;
    z-index: 100;

}


main {
    width: 100%;
    height: 100%;
}

.logo {
    color: white;
    font-size: 30px;
    line-height: 55px;
    float: left;
    -webkit-animation: comming 1.5s ease;
    -o-animation: comming 1.5s ease;
    animation: comming 1.5s ease;
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    float: left;
}

.cx:visited {
    color: #fff;
}

.menu li {
    font-size: 15px;
    float: left;
    line-height: 55px;
    margin-right: 60px;
    text-transform: uppercase;
    -webkit-animation: jump 0.4s ease forwards;
    -o-animation: jump 0.4s ease forwards;
    animation: jump 0.4s ease forwards;
    opacity: 0;
}

.menu li a {
    text-decoration: none;
    font-weight: bolder;
}

@keyframes jump {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.6s;
}

.menu li:nth-child(5) {
    animation-delay: 2.0s;
}

.menu li:nth-child(6) {
    animation-delay: 2.6s;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/Me.png) 80% 100%/auto 75% no-repeat, url(../img/fone.jpg) center/cover no-repeat;
}

@keyframes titlemuve {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.active:visited {
    color: coral;
}

.menu li a {
    transition: all 0.3s;
    transform: scale(1);
    display: inline-block;
}

.menu li a:hover {
    color: coral;
    transform: scale(1.1);
}

.menu li a:active {
    transform: scale(1.2);
}

.title_conteiner {
    float: left;
    color: #30486b;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemuve 1s ease forwards;
    -o-animation: titlemuve 1s ease forwards;
    animation: titlemuve 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.white-btn:visited {
    color: white
}

.title_conteiner h1 {
    font-family: Arial, sans-serif;
    font-size: 65px;
    font-weight: bold;
}

.title_conteiner h4 {
    margin-top: 40px;
    font-size: 27px;
}

.title_conteiner input {
    height: 70px;
    width: 150px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 28px 0px 14px;
    font-size: 16px;
    font-weight: bold;
}

.title_conteiner input {
    transition: all 0.2s;
    transform: scale(1);
}

.title_conteiner input:hover {
    background: #1b304f;
    color: white;
}

.title_conteiner input:active {
    transform: scale(1.2);
}

@media (max-width: 991px) {

    .title_conteiner,
    .title_conteiner h4,
    .title_conteiner input {
        color: white;
        position: relative;
        z-index: 5;
    }

    .title_conteiner input {
        border: 2px solid #fff;
    }

    .main {
        position: relative;
    }

    .main:after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}


.about_me h2 {
    margin: 0 auto;
    max-width: 120px;
    text-align: center;
    border-bottom: 5px solid #d17700;
    font-size: 18px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
    padding-top: 15px;
}

.about_me_img {
    opacity: 0;
    width: 10%;
    min-height: 100px;
    min-width: 100px;
    padding-top: 20px;
}

.about_me_img.animation-class {
    opacity: 1;
    animation: anim_me 2s;
}

@keyframes anim_me {
    from {
        opacity: 0;
        margin-left: -3000px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}



.mme {
    text-align: center;
}

.about_me_container p {
    text-align: center;
    font-size: 15px;
}

.about_me_container .two {
    margin-top: 20px;
}

.about_me_container {
    margin: 0 auto 60px;
}

.about_me_container input {
    height: 70px;
    width: 170px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.2s;
}

.about_me_container input:hover {
    background: #1b304f;
    color: white;
}

.about_me_container input:active {
    transform: scale(1.2);
}

.one {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.one.animation-class {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.skills {
    background: url(../img/fone2.png) center/cover no-repeat;
}

.skills_conteiner {
    padding-top: 40px;
    padding-bottom: 50px;
}

.skills_conteiner h2 {
    font-weight: bold;
    max-width: 120px;
    text-align: center;
    border-bottom: 5px solid #d17700;
    font-size: 17px;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.skills_item1 {
    display: block;
    float: left;
    padding-top: 50px;
    opacity: 0;
    position: relative;
}

.skills_item1.animation-class {
    -webkit-animation: anim_itemone 3s forwards;
    -o-animation: anim_itemone 3s forwards;
    animation: anim_itemone 3s forwards;
    opacity: 0;
}

@keyframes anim_itemone {
    from {
        opacity: 0;
        left: -400px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

.skills_item2 {
    display: block;
    float: left;
    padding-top: 50px;
    opacity: 0;
    position: relative;
}

.skills_item2.animation-class {
    -webkit-animation: anim_itemtwo 3s forwards;
    -o-animation: anim_itemtwo 3s forwards;
    animation: anim_itemtwo 3s forwards;
    opacity: 0;
}

@keyframes anim_itemtwo {
    from {
        opacity: 0;
        top: 300px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.skills_item3 {
    display: block;
    float: left;
    padding-top: 50px;
    opacity: 0;
    position: relative;
}

.skills_item3.animation-class {
    -webkit-animation: anim_itemthree 3s forwards;
    -o-animation: anim_itemthree 3s forwards;
    animation: anim_itemthree 3s forwards;
    opacity: 0;
}

@keyframes anim_itemthree {
    from {
        opacity: 0;
        top: -300px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.skills_item4 {
    display: block;
    float: left;
    padding-top: 50px;
    opacity: 0;
    position: relative;

}

.skills_item4.animation-class {
    -webkit-animation: anim_itemfour 3s forwards;
    -o-animation: anim_itemfour 3s forwards;
    animation: anim_itemfour 3s forwards;
    opacity: 0;
}

@keyframes anim_itemfour {
    from {
        opacity: 0;
        right: -400px;
    }

    to {
        opacity: 1;
        right: 0px;
    }
}

.vse {}

.skills_conteiner h3 {
    color: #d17700;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
}

.zagolovoc {
    margin-top: 80px;
}

.btn_sl {
    color: coral;
}

.zxx {
    border: 1px solid #acacac;
}

.zagc {
    margin: 0 auto;
    max-width: 120px;
    border-bottom: 5px solid #d17700;
    font-size: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #1b304f;
    text-align: center;
    font-weight: bold;
}

.zagolovoc p {
    text-align: center;
}

.zagolovoc img {
    display: block;
    margin: 50px auto;
    width: 100%;
    min-height: 200px;
    min-width: 340px;
}

.info h2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.info h5 {
    font-size: 18px;
}

.info input {
    height: 55px;
    width: 150px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #63b5ae;
    transform: scale(1);
    transition: all 0.2s
}

.info input:hover {}

.info input:active {
    transform: scale(1.3);
}

.infoTwo h2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.infoTwo h5 {
    font-size: 18px;
}


/*
.skills_item:nth-child(4){
    animation-delay: 0.5s;
}

.skills_item:nth-child(3){
    animation-delay: 1s;
}
.skills_item:nth-child(2){
    animation-delay: 1.5s;
}
.skills_item:nth-child(1){
    animation-delay: 2s;
}
*/

.price {
    margin-top: 100px;
    display: block;
    box-shadow: 1px 0px 20px #7b7878;
    padding-top: 40px;
    width: 80%;
    max-width: 1000px;
    height: 80%;
    max-height: 800px;
}

ol,
ul {
    padding-left: 2rem;
    padding-right: 2rem;
}

.puncts {
    margin: 0 auto;
    border-bottom: 3px solid #eeeeee;
    width: 85%;
}

.carousel-inner h5,
.carousel-inner p {
    color: black;
}

.puncts h2 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.puncts h3 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

}


.Myselect1 {
    display: block;
    width: 100%;
    height: 50px;
    background: #eeeeee;
    opacity: 0;
    position: relative;
    margin-bottom: 35px;
}

.Myselect1.animation-class {
    -webkit-animation: select1 3s forwards;
    -o-animation: select1 3s forwards;
    animation: select1 3s forwards;
}

@keyframes select1 {
    from {
        opacity: 0;
        left: -400px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

.Myselect2 {
    display: block;
    width: 100%;
    height: 50px;
    opacity: 0;
    background: #eeeeee;
    position: relative;
    margin-bottom: 35px;
}

.Myselect2.animation-class {
    -webkit-animation: select2 3s forwards;
    -o-animation: select2 3s forwards;
    animation: select2 3s forwards;
}

@keyframes select2 {
    from {
        opacity: 0;
        right: -400px;
    }

    to {
        opacity: 1;
        right: 0px;
    }
}

.Myselect3 {
    display: block;
    width: 100%;
    height: 50px;
    opacity: 0;
    background: #eeeeee;
    position: relative;
    margin-bottom: 30px;

}

.Myselect3.animation-class {
    -webkit-animation: select3 3s forwards;
    -o-animation: select3 3s forwards;
    animation: select3 3s forwards;
}

@keyframes select3 {
    from {
        opacity: 0;
        left: -400px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

.price_terms {
    margin: 0 auto;
    display: block;
    width: 80px;
    margin-top: 30px;
}

.price_two {
    line-height: 30px;
    position: relative;
    opacity: 0;
}

.price_two.animation-class {
    -webkit-animation: prise 3s forwards;
    -o-animation: prise 3s forwards;
    animation: prise 3s forwards;
}

@keyframes prise {
    from {
        opacity: 0;
        bottom: -150px;
    }

    to {
        opacity: 1;
        bottom: 0px;
    }
}


.number {
    padding-top: 30px;
    line-height: 30px;
    position: relative;
    opacity: 0;
    margin-left: 40px;
}

.number.animation-class {
    -webkit-animation: prise 3s forwards;
    -o-animation: prise 3s forwards;
    animation: prise 3s forwards;
}

.price input {
    display: block;
    margin: 30px auto 0 auto;
    height: 55px;
    width: 250px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #63b5ae;
    transform: scale(1);
    transition: all 0.2s
}

.price input:hover {}

.price input:active {
    transform: scale(1.3);
}

.stats_conteiner h3 {
    max-width: 230px;
    text-align: center;
    border-bottom: 5px solid #d17700;
    font-size: 17px;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
    font-weight: bold;
}

.stats_item {
    margin-top: 70px;
    background: url(../img/fone3.jpg) center/cover fixed no-repeat;
    width: auto;
    padding-top: 50px;

}

.statsB1 {
    padding-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    position: relative;
    opacity: 0;
}

.statsB1.animation-class {
    -webkit-animation: stats1 3s forwards;
    -o-animation: stats1 3s forwards;
    animation: stats1 3s forwards;
}

@keyframes stats1 {
    from {
        opacity: 0;
        left: -150px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

.statsB2 {
    padding-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    position: relative;
    opacity: 0;
}

.statsB2.animation-class {
    -webkit-animation: stats2 3s forwards;
    -o-animation: stats2 3s forwards;
    animation: stats2 3s forwards;
}

@keyframes stats2 {
    from {
        opacity: 0;
        right: -150px;
    }

    to {
        opacity: 1;
        right: 0px;
    }
}

.statsB1 h2 {
    margin-top: 10px;
    color: #1b304f;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 30px;

}

.statsB2 h2 {
    margin-top: 10px;
    color: #1b304f;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 30px;

}

.stats_conteiner h3 qwer {
    margin-top: 200px;
}

.stats_conteiner p {
    font-size: 20px;
    font-weight: bold;
}

.reviews {
    text-align: center;
    clear: left;
    margin-top: 50px;
    margin-bottom: 30px;
}

.reviews img {
    padding-top: 30px;
}

/* Контейнер для кнопки */
.css-modal-checkbox-container {
    height: 60px;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    top: 200px;
    left: -2000px;
}
/* Убираем флажок */
#css-modal-checkbox {
    display: none;
}

/* Кнопка для открытия */
.css-modal-checkbox {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;    
}
.css-modal-checkbox:hover,
.css-modal-checkbox:active,
.css-modal-checkbox:focus {
    color: #FFF;
}
.css-modal-checkbox:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.css-modal-checkbox:hover:before,
.css-modal-checkbox:active:before,
.css-modal-checkbox:focus:before {
    transform: translateX(0);
}
 
/* Контейнер, который затемняет страницу */
#css-modal-checkbox + .cmc {
    display: none;
}
#css-modal-checkbox:checked + .cmc {
    display:flex;
    align-items:center;
    justify-content:center;    
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(51, 122, 183, 0.7);
}
 
/* Модальное окно */
#css-modal-checkbox:checked + .cmc .cmt {
    font-family: Verdana, sans-serif;  
    font-size: 16px;
    padding: 20px;
    width:80%;
    max-width: 600px;
    max-height: 70%;
    transition: 0.5s;
    border: 6px solid #BFE2FF;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: auto;
    animation: scale 0.5s ease;
}
/* Кнопка с крестиком закрывающая окно */
.css-modal-close {
    width: 50px;
    height: 50px;
    border: 6px solid #BFE2FF;
    border-radius: 12px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
    cursor: pointer;
}
 
/* Анимации */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes move {
    0% {
        right: -80px;
    }
    100% {
        right: 20px;
    }
}
@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }
    100% {
        background: rgba(51, 122, 183, 0.7);
    }
}

.reviews h2 {
    max-width: 130px;
    text-align: center;
    border-bottom: 5px solid #d17700;
    font-size: 17px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
    font-weight: bold;
}

.reviews h4 {
    margin-top: 30px;
}

.radio {
    margin-top: 30px;
}

.contacts {
    color: #fff;
    background: url(../img/fone4.jpg) center/cover no-repeat;
}

.contacts h3 {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 200px;
    border-bottom: 5px solid #d17700;
    font-size: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.contacts h4 {
    text-align: center;
}

.contacts_item {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.contacts_conteiner h2 {
    margin-top: 10px;
    font-size: 20px;
}

.message h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.inputt {
    text-align: center;
    margin-bottom: 50px;
}

.three {
    margin-top: 10px;
}

.four {
    height: 55px;
    width: 150px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #63b5ae;
    z-index: 1;
    transform: scale(1);
    transition: all 0.2s;
}

.four:hover {
    background: #1b304f;
    color: white;
}

.four:active {
    transform: scale(1.2);
}

.message_ing {
    text-align: center;
    line-height: 60px;
    padding-bottom: 50px;
}

.imm1 {
    margin-left: 20px;
    position: relative;
    opacity: 0;

    z-index: 0;
}

.imm1.animation-class {
    -webkit-animation: imm1 3s forwards;
    -o-animation: imm1 3s forwards;
    animation: imm1 3s forwards;
}

@keyframes imm1 {
    from {
        opacity: 0;
        top: -150px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.imm2 {
    margin-left: 20px;
    position: relative;
    opacity: 0;
    z-index: 0;
}

.imm2.animation-class {
    -webkit-animation: imm2 3s forwards;
    -o-animation: imm2 3s forwards;
    animation: imm2 3s forwards;
}

@keyframes imm2 {
    from {
        opacity: 0;
        bottom: -150px;
    }

    to {
        opacity: 1;
        bottom: 0px;
    }
}

.location img {
    width: 100%
}

.end {
    background: #1b304f;
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
